h1,h2{
	color:Red;
	font-family:Arial;
	}
p{
	font-family:Arial;
	font-size:12px;
}
	
#mobiles_list{
	list-style-type:square;
}

p::selection{
	color:red;
	background-color:yellow;
}

ul>li{
	font-family:arial;
	padding:5px;
	font-size:16px;
}
h4{
	
	text-align:center;
	color:red;
	
}
div hr{
	width:100%;
	text-align:left;
	margin-left:0;}
	
@media print
{
	.screen-only{
		display:none;
	}
}